<!DOCTYPE html>
<html>
<head>
    <title>Project Tracker</title>
</head>

<body>
    <p>
    <form action="/student">
        <label>Enter GitHub username
        <input type="text" name="github">
        </label>
        <input type="submit" value="Display Student">
    </form>
    </p>

    <p>
    <form action="/student-add" method="POST">
        <label>Enter First Name
        <input type="text" name="first_name">
        </label><br>

        <label>Enter Last Name
        <input type="text" name="last_name">
        </label><br>

        <label>Enter Github Username
        <input type="text" name="github">
        </label><br>

        <input type="submit" value="Create Student">
    </form>
    </p>
 
</body>
</html>